:root{
    --horLength: 10;
    --vertLength: 10;
}

body{
    display: flex;
    flex-direction: column;
}

.heroContent{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    display: flex;
    justify-self: center;
    align-self: center;
}

.mainDrawBoxes{
    display: grid;
    gap: 0px;
    grid-template-columns: repeat(var(--vertLength), 1fr);
    grid-template-rows: repeat(var(--horLength), 1fr);
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    width: 500px;
    height: 500px;
}

/*
.simpleBorder{
    margin: 50px;
    border-width: 2px;
    border-color: red;
    background-color: blue;
    width: 100px;
    height: 100px;
}
*/

.simpleBox{
    /*display: flex;*/
    /*flex: 1;*/
    background-color: lightgrey;
    width: 96%;
    height: 96%;
    padding: -2%;
    margin: 0px;
    align-self: auto;
}

.black{
    background-color: black;
}

.hovered{
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: -2px;
    padding: -2%;
}